body {
    width: 100vw;
    background-image: linear-gradient(45deg, white, black, red);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;

}
.bulbasaur {
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 3px #5b8f08;
}

.charmander {
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 3px #c26712;
}

.pichu {
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 3px #dac406;
}

.froakie {
    color: #0586db;
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

.gastly {
    color: #bb04e97a;
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

.scraggy {
    color: #aa9742;
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

.chimchar {
    color: #a75716;
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

.groudon {
    color: #8f0808;
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

.Rayquaza {
    color: #206d0c;
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}