body {
    background-image: url(IMAGENES/GB6ANRNH3FO2XHI5D2YLN2XVUI.avif);
}

table {
    background-color: #1ebb10a5;
}

.sobre {
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}