/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* --- HEADER Y MENÚ --- */
header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between; /* Separa logo y botón */
    align-items: center;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f1c40f; 
}

.hamburguesa {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* El menú oculto (estilo cajón lateral) */
.menu-navegacion {
    position: absolute;
    top: 0%; 
    right: 0%;
    width: 250px;
    height: fit-content;
    background-color: #34495e;
    transition: top 0.3s ease; /* Para que se deslice suave */
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;

    visibility: hidden;
}

.mostrar{
    visibility: visible !important;
    top: 100%;
}

.menu-navegacion ul {
    list-style: none;
    text-align: center;
}

.menu-navegacion li {
    margin: 1.5rem 0;
}

.menu-navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* --- CONTENIDO PRINCIPAL (3 COLUMNAS) --- */
main {
    display: flex; /* Flexbox para poner las secciones lado a lado */
    gap: 20px;     /* Espacio entre columnas */
    padding: 2rem;
    height: 80vh;
}


.tarjeta {
    flex: 1; /* Cada tarjeta ocupa el mismo espacio (1/3) */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

/* Colores decorativos */
.roja { border-top: 5px solid #e74c3c; }
.azul { border-top: 5px solid #3498db; }
.verde { border-top: 5px solid #2ecc71; }


