#principio{
    font-size: 70px;
    text-align: center;
    color: rgba(67, 3, 3, 0.808);
    text-shadow: 2px 2px 2px rgba(13, 1, 1, 0.441);
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    background-image: url(pokeboll-fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#Medio{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    height: 100%;
    line-height: 50px;
}
a{
    text-decoration: none;
    color: rgb(3, 3, 123);
    text-shadow: 2px 2px 2px rgba(18, 198, 198, 0.667);
}