h1{
    font-size: 20px;
    font-weight: 3100;
}

.tama単o20{
    font-size: 20px;
    font-weight: 200;
}
.tama単o40{
    font-size: 20px;
    font-weight: 100;
}
.tama単o60{
    font-size: 20px;
    font-weight: 900;
}
.tama単o80{
    font-size: 20px;
    font-weight: 400;
}