.imagen{
    width: 100%;
}
.logo{
    text-align: center;
    font-size: small;
}
td{
    text-align: center;
    color:blue;

}
table{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 100%;
}
td{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    font-size: small;

}
th{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}