body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, black, purple, black);
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}


#principio, #fin{
    flex: 1;
    color: white;
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#central{
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

#menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#menu nav{
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#menu nav a{
    flex: 1;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.03);
}

#grid{
    flex: 4;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ; 
    grid-template-rows: 2fr 2fr ;
    place-items: center;
    gap: 20px;
    padding: 20px;
    
}

.pokemon-container{
    width: 90%;   
    height: 90%;
    border: 2px solid blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;


}
.sonido-pokemon{
    width: 90%;   
    height: 90%;
    border: 2px solid blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}