body {
    background-image: url(IMAGENES/ouyS7rl_yc4NHFs1mVw6QOTBPZzB-QhQYx3ZIujuHgo\ \(1\).webp);
}

table {
    background-color: #ee6205ea;
}

.sobre {
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

a {
    color: black;
}