body {
    background-image: url(IMAGENES/ouyS7rl_yc4NHFs1mVw6QOTBPZzB-QhQYx3ZIujuHgo.webp);
}

table {
    background-color: #e41a0cb0;
}

.sobre {
    text-align: left;
    font-style: italic;
    word-spacing: 2px;
    font-weight: bold;
}