body {
    background-image: url(IMAGENES/0ypjtavhrjq71.webp);
}

table {
    background-color: #1e9ff5ea;
}

.sobre {
    text-align: left;
    word-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

a {
    color: black;

}